[
    {elvis, [
        {config, [
            #{
                dirs => ["src"],
                filter => "*.erl",
                rules =>
                    [
                        {elvis_style, no_invalid_dynamic_calls, #{
                            ignore => [{elvis_core, rock_this, 2}]
                        }},
                        {elvis_style, dont_repeat_yourself, #{min_complexity => 20}},
                        {elvis_style, no_debug_call, #{
                            ignore => [{elvis_result, print_item, 4}, {elvis_utils, print, 2}]
                        }},
                        {elvis_style, no_god_modules, #{ignore => [elvis_style]}},
                        {elvis_style, no_throw, disable},
                        {elvis_style, max_function_length, disable},
                        {elvis_style, max_function_clause_length, disable},
                        {elvis_style, max_module_length, #{ignore => [elvis_style]}},
                        {elvis_style, no_common_caveats_call, #{
                            ignore => [
                                {elvis_file, module, 1},
                                {elvis_style, is_call, 2},
                                {elvis_style, is_allowed_macro, 2},
                                {elvis_text_style, doesnt_need_quotes, 1}
                            ]
                        }}
                    ],
                ruleset => erl_files_strict
            },
            #{
                dirs => ["_build/default/lib/elvis_core/ebin"],
                filter => "*.beam",
                rules =>
                    [
                        {elvis_style, no_invalid_dynamic_calls, #{ignore => [elvis_core]}},
                        {elvis_style, dont_repeat_yourself, #{min_complexity => 20}},
                        {elvis_style, no_debug_call, #{ignore => [elvis_result, elvis_utils]}},
                        {elvis_style, no_god_modules, #{ignore => [elvis_style]}},
                        {elvis_style, no_throw, disable},
                        {elvis_style, no_common_caveats_call, disable}
                    ],
                ruleset => beam_files_strict
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs => ["."],
                filter => ".gitignore",
                ruleset => gitignore
            },
            #{
                dirs => ["test"],
                filter => "*.erl",
                ruleset => erl_files_test,
                rules =>
                    [
                        {elvis_style, no_debug_call, #{ignore => [elvis_SUITE]}},
                        {elvis_style, variable_naming_convention, #{ignore => [style_SUITE]}},
                        {elvis_style, no_throw, #{ignore => [style_SUITE]}},
                        {elvis_style, atom_naming_convention, #{ignore => [style_SUITE]}}
                    ]
            }
        ]}
    ]}
].
