diagnostics : enabled : -crossref disabled : -dialyzer include_dirs : - "include" - "_build/default/lib" lenses : enabled : -ct -run -test disabled : -show -behaviour -usages macros : -name : DEFINED_WITH_VALUE value : 42 -name : DEFINED_WITHOUT_VALUE code_reload : node : elvis_style plt_path : _build /deault/rebar3_26 .

2.5.

4 _plt runtime : cookie : elvis_style use_long_names : true
