[
    {elvis, [
        {config, [
            #{
                files =>
                    [
                        "../../../../_build/test/lib/elvis_core/test/dirs/src/*.erl",
                        "../../../../_build/test/lib/elvis_core/test/dirs/test/*.erl",
                        "../../../../_build/test/lib/elvis_core/test/dirs/apps/**/src/*.erl",
                        "../../../../_build/test/lib/elvis_core/test/dirs/apps/**/test/*.erl"
                    ],
                ruleset => erl_files
            }
        ]}
    ]}
].
