[
    {elvis, [
        {config, [
            #{
                dirs =>
                    [
                        "../../_build/test/lib/elvis_core/test/dirs/src",
                        "../../_build/test/lib/elvis_core/test/dirs/test",
                        "../../_build/test/lib/elvis_core/test/dirs/apps/**/src",
                        "../../_build/test/lib/elvis_core/test/dirs/apps/**/test"
                    ],
                filter => "*.erl",
                ruleset => erl_files
            }
        ]}
    ]}
].
