[
    {config, [
        #{
            files => ["../../../../_build/test/lib/elvis_core/test/examples/*.erl"],
            ruleset => erl_files
        },
        #{
            files => ["../../../../_build/test/lib/elvis_core/test/examples/*.hrl"],
            ruleset => hrl_files
        },
        #{
            files => [
                "../../../../_build/test/lib/elvis_core/test/non_compilable_examples/*.erl"
            ],
            ruleset => erl_files
        },
        #{
            files => ["../../../../_build/test/lib/elvis_core/test/examples/*.beam"],
            ruleset => beam_files
        },
        #{
            files => ["../../../../rebar.config"],
            ruleset => rebar_config
        }
    ]}
].
