[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src"],
        filter => "*.erl",
        rule_group => erl_files
       },
      #{dirs => ["."],
        filter => "Makefile",
        rule_group => makefiles
       },
      #{dirs => ["."],
        filter => "rebar.config",
        rule_group => rebar_config
       },
      #{dirs => ["."],
        filter => "elvis.config",
        rule_group => elvis_config
       }
     ]
    }
   ]
 }
].
