{deps,
 [
  {lager, "2.1.1"},
  {meck, "0.8.2", {git, "https://github.com/basho/meck.git", {tag, "0.8.2"}}},
  {jiffy, {git, "https://github.com/davisp/jiffy.git"}},
  recon
 ]}.
{elvis,
 [
  {config,
   [#{dirs => ["../../_build/test/lib/elvis_core/test/examples"],
      filter => "**.erl",
      rules => [{elvis_text_style, line_length, #{limit => 135}}]
     }
   ]
  },
  {output_format, plain}
 ]
}.
