[
    {elvis_core, [
        {config, [
            #{
                dirs => ["../../_build/test/lib/elvis_core/test/examples"],
                filter => "*.erl",
                rules =>
                    [
                        {elvis_text_style, line_length, #{limit => 80, skip_comments => false}},
                        {elvis_style, no_deep_nesting, #{level => 3}},
                        {elvis_style, no_invalid_dynamic_calls, #{ignore => [elvis]}},
                        {elvis_style, no_macros},
                        {elvis_style, param_pattern_matching, #{side => right}}
                    ],
                ruleset => erl_files
            },
            #{
                dirs => ["../../_build/test/lib/elvis_core/test/examples"],
                filter => "*.hrl",
                rules => [],
                ruleset => hrl_files
            },
            #{
                dirs => ["../../_build/test/lib/elvis_core/test/examples"],
                filter => "*.beam",
                rules =>
                    [
                        {elvis_text_style, line_length, #{limit => 80, skip_comments => false}},
                        {elvis_style, no_deep_nesting, #{level => 3}},
                        {elvis_style, no_invalid_dynamic_calls, #{ignore => [elvis]}},
                        {elvis_style, no_macros}
                    ],
                ruleset => beam_files
            },
            #{
                dirs => ["../../_build/test/lib/elvis_core/test/examples"],
                filter => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs =>
                    [
                        "../../_build/test/lib/elvis_core/test/dirs/apps/app1",
                        "../../_build/test/lib/elvis_core/test/dirs/apps/app2"
                    ],
                filter => ".gitignore",
                ruleset => gitignore
            }
        ]},
        {output_format, plain}
    ]}
].
