[
 {
   elvis,
   [
    {config,
     [#{src_dirs => ["src"],
        rules => [{elvis_text_style, line_length, [80]},
                  {elvis_text_style, no_tabs, []},
                  {elvis_style, macro_names, []},
                  {elvis_style, operator_spaces, [{right, ","},
                                                  {right, "++"},
                                                  {left, "++"}]},
                  {elvis_style, no_deep_nesting, [3]},
                  {elvis_style, no_god_modules, [25]},
                  {elvis_style, no_if_expression, []},
                  {elvis_style, no_invalid_dynamic_calls, [elvis]},
                  {elvis_style, no_used_ignored_variables, []},
                  {elvis_style, no_behavior_info, []},
                  {
                    elvis_style,
                    module_naming_convention,
                    ["^([a-z][a-z0-9]*_?)*(_SUITE)?$", []]
                  },
                  {elvis_style, state_record_and_type, []},
                  {elvis_style, no_spec_with_records, []}
                 ]
       },
      #{dirs => ["."],
        rules => []}
     ]
    }
   ]
 }
].
